<div>Component app</div>

<!--! "hydrate" Keyword that indicates when the block's content will be hydrated. You can use 'on' and 'when' conditions as hydration triggers, or 'hydrate never' to disable hydration for this block. -->

  @defer(hydrate on idle) {
  <p>"hydrate on idle"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate on idle"</p>
  }
  <br />

  @defer(hydrate on viewport) {
  <p>"hydrate on viewport"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate on viewport"</p>
  }
  <br />

  @defer(hydrate on interaction) {
  <p>"hydrate on interaction"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate on interaction"</p>
  }
  <br />
  
  @defer(hydrate on hover) {
  <p>"hydrate on hover"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate on hover"</p>
  }
  <br />

  @defer(hydrate on immediate) {
  <p>"hydrate on immediate"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate on immediate"</p>
  }
  <br />

  @defer(hydrate on timer(500ms)) {
  <p>"hydrate on timer(500ms)"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate on timer(500ms)"</p>
  }
  <br />

   @defer(hydrate when showLargeComponent) {
  <p>"hydrate when showLargeComponent"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate when showLargeComponent"</p>
  }
  <br />

   @defer(hydrate never) {
  <p>"hydrate never"</p>
  <app-large-component />
  } @placeholder {
  <p>Loading LargeComponent and "hydrate never"</p>
  }
  <br />
  
  

<router-outlet></router-outlet>