<div>
  <h1>Authoring Server-Compatible Components</h1>
  <p #content class="content">
    This is some content whose height we want to calculate. It only works in the
    browser.
  </p>
</div>
<ul>
  <li>
    <a [routerLink]="['/']" routerLinkActive="router-link-active"> HomePage </a>
  </li>
  <li>
    <a [routerLink]="['/httpcache']" routerLinkActive="router-link-active">
      Http Cache
    </a>
  </li>
  <li>
    <a [routerLink]="['/products/1']" routerLinkActive="router-link-active">
      Product 1
    </a>
  </li>
  <li>
    <a [routerLink]="['/products/3']" routerLinkActive="router-link-active">
      Product 3
    </a>
  </li>
</ul>
<router-outlet></router-outlet>
