<p>http-cache works!</p>
<div>
  <h2>Posts:</h2>
  <button (click)="getPosts()">Get Posts</button>
  <button (click)="addPost()">Add Post</button>

  @if (singlePost$ | async; as post){
  <p>Added post Details: {{ post.title }}</p>
  }

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      @for(post of posts$ | async; track post.id) {
      <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
